<div class="profile">

	<div class="avatar" *ngIf="avatar" (click)="capture.click()">
		<img src="{{ avatar.src }}"/>
	</div>
	<div class="avatar" *ngIf="!avatar && profile.avatar" (click)="capture.click()">
		<img src="{{ url }}/img/avi/{{ profile.avatar }}"/>
	</div>
	<div class="form-group" *ngIf="profile.name">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" [(ngModel)]="profile.name" placeholder="Name">
	</div>
	<div class="form-group" *ngIf="profile.email">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" [(ngModel)]="profile.email" placeholder="Email">
	</div>
	<div class="form-group" *ngIf="profile.phone">
		<label for="phone">Phone</label>
		<input type="number" class="form-control" id="phone" [(ngModel)]="profile.phone" placeholder="Phone">
	</div>
	<button type="button" (click)="saveProfile()" class="btn btn-default">Save</button>
</div>
<input type="file" accept="image/*,video/*" (change)="uploadFile(capture)" capture #capture>
